<nav class="navbar navbar-light bg-light d-flex justify-content-start">
    <a class="navbar-brand" href="/home">
      <i class="fa fa-home"></i>
      خانه
    </a>
    <a class="navbar-brand" href="/contact">
      <i class="fa fa-phone"></i>
      تماس با ما
    </a>
    <a class="navbar-brand" href="/about">
      <i class="fa fa-info-circle"></i>
      درباره ی ما
    </a>
  </nav>